.titlebar {
    font-size: 24px;

    background-color: #505050;

    padding-left: 20px;
    overflow: hidden;

    /*position: fixed;*/
    width: 100%;

    z-index: 1;
}

.titletext {
    font-family: 'Permanent Marker', sans-serif;
}

.titletext:hover{
    cursor: default;
}

.menubar {
    list-style-type: none;
    overflow: hidden;
    background-color: #505050;
    padding-left:20px;
}

.menubutton {
    float: left;
    font-size: 20px;
    margin: 0px 3px;
}

.menubutton a {
    display: block;
    color: #afafaf;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;

    transition: all 0.5s;
}

.menubutton a:hover {
    background-color: #404040;
    color: #8c8c8c;
}

.curloc {
    float: left;
    font-size: 20px;
    margin: 0px 3px;
}

.curloc a {
    display: block;
    color: #f5f3ef;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    background-color: #333333;
}
